*{margin: 0px; padding:0px;}

body{
    
    height: auto;
    font-family: 'Times New Roman', Times, serif;    
    border: 2px solid #265180;
    
}

.container-index1{   
    background-image:url(../img/ninguem-na-estacao-de-trabalho-call-center-vazio-com-computadores-e-instrumentos-de-audio-nao-ha-pessoas-nos-balcoes-de-atendimento-ao-cliente-com-tecnologia-de-telecomunicacoes-oferecendo-assistencia-de-linha-de-a.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: left;
    max-width: auto;
    height:700px;       
}
.container-index2{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.container-h1{
    /* width: 1000px; */
    font-size: clamp(25px,5vw,32px);
    color: #265180;
    display: flex;
    align-items: center;    
    justify-content: center;    
    flex-direction: column;
    height: 700px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.container-anuncio{
    font-size: clamp(23px,5vw,60px);
    width: 1200px;
    text-align: center;
    height: 150px;
    /* background-color: #00000085; */
    border-radius: 10px;
}
.container-anuncio span{
    color:#265180;
    font-weight:bolder;
    -webkit-text-stroke: rgb(12, 255, 255) 0.1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: bold;
    letter-spacing: 0px;
}
.container-p{
    font-size: clamp(13px,5vw,24px);
    color: #265180;
    /* width: 1000px;    */
    text-align: center;   
    /* gap:50px; */
    height: 100px;
    display: block;
    width: 100%;
    line-height: 30px;
    }
.container-index3{
    background-image: url(../img/making-deal-young-people-working-call-center-new-deals-is-coming.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 700px;
   
}
.container-index3b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
   
}
.container-h2 {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #265180;
    font-size: clamp(25px,5vw,32px);
    text-align: center;
    width: 1000px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-h2 h1{
   -webkit-text-stroke: #898989 0.7px;
    
}
.container-p2{
    font-size: clamp(13px,5vw,18px);
    color: #265180;
    width: 1000px;   
    text-align: center;   
    gap:50px;
    
    }
    .container-index4{
    width: 100%;
    height: 700px;
    
    
}
.container-index4b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    
    
}
.container-h3{
    width: 1000px;
    font-size: clamp(25px,5vw,30px);
    color: #265180;
    height: 150px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-p3{
    font-size: clamp(13px,5vw,18px);
    color: #265180;
    width: 1000px;   
    text-align: center;  
    /* gap:50px; */
    /* display: inline-block; */
    
    line-height: 30px;
    }
    .container-server{
        display: flex;
        justify-content: center;
    }
.container-servico div{
    width:290px;
    height: 250px;
    border: 1px solid #265180;
    display: inline-block;
    /* outline: 1px solid #898989;
    outline-offset: 4px; */
}
.container-servico img{
    width: 290px;
    height: 250px;
}
    
.container-prime{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
   
}

.container-caixa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap:700px;
    
    }

.container-caixa img{
    width: 180px;
    padding:40px; 
    filter: contrast(3.9);
}
.container-menu{
    width: 100%;
    max-width: 500px;
    height: 60px;
    /* background-color:rgba(0, 0, 0, 0.282); */
    border-radius: 5px;
    /* border: 1px solid #A8B1AE; */
    display: none;

}
.container-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}


.container-nav{
    width: auto;
    height: 60px;
    background-color: black;
    
}

nav ul{
    list-style: none;
    
}

nav ul li{
    display:inline-block;
    
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color:red;
    text-transform: uppercase;
    font-weight:bold;
    position: relative;
    border-radius: 25px;    
    /* text-shadow: 1px 0px 0px rgb(0, 30, 0);     */
}
nav ul li a:hover{
background-color: red;
border-radius: 25px;
color: #F6F6F6;
opacity: 0.5

}



.container-img{
    width: 925px;
    position:absolute;
    top: 20px;
    border-radius: 0px 13px 13px 0px;
    right: 20px;
    position: absolute;
    z-index: 1;
}
.container-texto{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 80px;
}
.container-alinhar{
    display: flex;    
    align-items: center;
    min-height: 55vh; 
    justify-content: center;
   
   } 
   .container-texto h2{
    font-size: clamp(20px,5vw,40px);
    font-family: 'Times New Roman', Times, serif;
    color:#265180;
    -webkit-text-stroke: #898989 1px;
   }
   form input, textarea{
    width: 700px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   textarea{
    width: 702px;
    height: 100px;
    font-size: clamp(15px,5vw,18px);
    font-family:Arial, Helvetica, sans-serif;
   }
   form input{
    font-size: clamp(15px,5vw,18px);
   }
   
.btn-submit{
    padding: 10px;   
    /* border-radius: 8px;    */
    border: 1px solid #696565; 
    margin-top: 10px;
    width: 713px;
    background-color: #265180;
    cursor: pointer;
    font-size: clamp(15px, 5vw, 20px);
    display: flex;
    align-items: center;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFf;
}
footer{
    width: auto;
    height: 150px;
    background-color: #265180;
    border: 1px solid#0f04fc;
    padding: 40px;
}

footer p{
    text-transform:none;
    text-align: center;
    text-overflow: clip;
    font-size: 15px;
    font-family: 'poly';
    font-style: normal;
    color: #F6F6F6;
}

